body {
    position: relative;
    width: 1440px;
    height: 1024px;  
    background:#F3F5FC;
}


.logo {
    position: absolute;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
}



main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 40px 40px 40px 240px; 
}


main section {
    flex-direction: column;
}

.area-ingreso-datos {
    margin-top: 128px;
    margin-right: 80px;
}

.area-ingreso-datos .texto-descrifrado,
.area-ingreso-datos .aviso-texto,
.area-ingreso-datos .botones {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    background:#F3F5FC;
    border-color: #F3F5FC;
}

.ingreso-texto textarea {
    font-size: 32px;
    line-height: 48px;
    height: 635px;
    width: 100%;
    color: #0A3871;
    background:#F3F5FC;
    resize: none;
    border: none;
}

#texto-descrifrado::placeholder {
    color: #0A3871;
    font-size: 32px;
}

.aviso-texto {
    height: 18px;
    margin-top: 16px;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

.botones {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    margin-top: 16px;
    width: 688px;
    height: 67px;
}

.botones .boton-encriptar, .boton-desencriptar {
    width: 322px;
    height: 67px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    border-radius: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    transition: 1s all;
    cursor: pointer;
}

.boton-encriptar{     
    background: #0A3871; 
    color: #FFFFFF;
}

.boton-desencriptar{             
    background: #D8DFE8;
    color: #0A3871;
}

.botones button:hover {
    font-size: 26px;
    font-style:italic;
    font-weight: 800;
    border: 2px solid #0A3871; 
    transform: scale(1.1);
}

.botones button:active {
    font-size: 18px;
    font-style:italic;
    font-weight: 800;
    transform: scale(1.0);
}



.area-resultado-datos { 
    margin: 40px 40px;
    width: 400px;
    align-content: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    background: #ffffff;  
}

.area-resultado-datos textarea {
    width: 336px;
    height: 701px;
    margin-top: 32px;
    margin-left: 32px;
    resize: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #495057;
  }


.muneco{
    display: none;
    margin-top: 243px;
    margin-left: 32px;
    height: 304px;
    width: 336px;
    border-radius: 0px;
    vertical-align: center;
}

.grupo-textos-no-encontrado {
    display: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    margin-left: 32px;
    width: 336px;
    margin-top: 12px;
}

.texto-no-encontrado {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #343A40;
}

.texto-ingrese {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}


.boton-copiar{
    margin-top: 32px;
    width: 336px;
    height: 67px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 24px;
    border: 1px solid #0A3871;    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    background: #FFFFFF;
    transition: 1s all;  
    cursor: pointer;
}

.boton-copiar:hover {
    font-size: 26px;
    font-style:italic;
    font-weight: 800;
    border: 2px solid #0A3871; 
    transform: scale(1.1);
    
}

.boton-copiar:active {
    font-size: 18px;
    font-style:italic;
    font-weight: 800;
    transform: scale(1.0);
}  


.no-visible {
	display: none;
}
.visible {
	display: block;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #495057;
    padding: 40px;
    text-align: center;
    font-size: 14px;
    
}


